body {
    font-family: "Open Sans", sans-serif;
    background:0000 ;
}
h1,h2,h3 {
    font-family: "Lobster", cursive;
}
h2 {
    color: rgb(255, 0, 0);
}
.site-footer {
    background-image: linear-gradient(cyan,white,black);
    padding:20px 0;
}


.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, black, green,yellow);
    color: cyan;
    margin: 0;
}
.row-content {
    padding: 50px 0;
    border-bottom:1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: black
}